
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
.home {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
  }
  
  .otmt {
    margin-bottom: 40px;
  }
  
  .otmt h1 {
    color: #2E7D32;
    margin: 70px;
    width: 612px;
    height: 240px;
    top: 138px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    font-family: Source Sans Pro;
    font-size: 48px;
    font-weight:bold;
    line-height: 60.34px;
    text-align: left;
    color: #328D89;




  }
  
  .otmt p {
    font-size: 18px;
    color: #555;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.6;
  }
  
  .what-we-do {
    margin-bottom: 40px;
    
    
  }
  
  .what-we-do h2 {
    margin-bottom: 20px;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 900;
    line-height: 30.17px;
    text-align: right;
    width: 125px;
    height: 30px;
    top: 182px;
    left: 1279px;
    gap: 0px;
    opacity: 0px;
    color: #328D89;
    font-weight: bold;
    }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-item {
    
    color: white;
    padding: 45px;
    margin: 20px;
    font-size: 16px;
    text-align: center;
    width: 100px;
    height: 100px;
    top: 238px;
    left: 839px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: radial-gradient(circle at 7.5% 0%, #8860D0 0%, #73CFCA 100%);



  }
  
  .technology-highlights {
    margin-bottom: 40px;
  }
  
  .technology-highlights h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .highlight-item {
    margin: 20px;
    text-align: center;
  }
  
  .highlight-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .highlight-item p {
    font-size: 18px;
    color: #555;
  }
  