@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
.research {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    text-align: center;
    color: #333;
  }
  
  .des {
    margin-bottom: 40px;
  }
  
  .des h1 {
    position: relative;
    width: 612px;
    left: 76px;
    gap: 0px;
    opacity: 0px;
    font-family: Source Sans Pro;
    font-size: 3rem;
    font-weight: bold;
    line-height: 60.34px;
    text-align: left;
    color: #328d89;
    margin: 0;
    margin-bottom: 0;
  }
  
  .des h2 {
    position: relative;
    width: 1000px;
    left: 76px;
    gap: 0px;
    opacity: 0px;
    font-family: Source Sans Pro;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 60.34px;
    text-align: left;
    color: #328d89;
    margin: 0;
    margin-bottom: 0;
  }
  
  .des p {
    font-size: 1rem;
    color: #555;
    max-width: 48%;
    line-height: 1.6;
    text-align: left;
    position: relative;
    left: 76px;
  }
  
  .btn1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 70px;
    margin-right: 65px;
    justify-content: left;
  }

  .btn2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 70px;
    margin-right: 65px;
    justify-content: left;
  }
  
  .service_btn {
    padding: 10px 70px; /* Increased padding to make the button larger */
    border: 2px solid black;
    color: #000000;
    font-weight: bold;
    border-radius: 0px; /* Added slight rounding to the corners */
    background: #fff;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition effects */
    /* box-shadow: 0 0 5vh rgba(0, 0, 0, 0.4);
     */
     box-shadow: 3px 4px 20px 0px #FFFFFF;

  }

  
  
  .service_btn:hover {
    background: linear-gradient(45deg, #73cfca, #8860d0); /* Gradient effect on hover */
    transform: scale(1.05); /* Slightly increase the button size on hover */
    border: none;
    box-shadow: 3px 4px 20px 0px #FFFFFF;
    color: #fff;
  }
  
  .ipr-heading {
    text-align: left;
    position: relative;
    left: 76px;
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color:#fff;
  }
  
  .underline1, .underline2 {
    width: 35vh;
    height: 0.6rem;
    background: radial-gradient(circle at 7.5% 0%, #8860d0 0%, #73cfca 100%);
    color: transparent;
    margin-left: 9vh;
  }
  
  .underline3{
    width: 35vh;
    height: 0.6rem;
    background:#fff;
    color: transparent;
    margin-left: 9vh;
}
  .line {
    margin-left: 10px;
    margin-top: 500px;
  }
   
  #back_block_research {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    z-index: -1;
    color: transparent;
    top: -45vh;
    height: 60vh;
    margin-bottom: -60vh;
    cursor: none;
   background: radial-gradient(65.24% 517.33% at 56.12% 36.32%, #74A7C2 0%, #39AEA8 59.49%, #8860D0 100%);

  }
  